CLICKUP_API_KEY=your_clickup_api_key_here
CLICKUP_LIST_ID=your_list_id_here
CLICKUP_TEAM_ID=your_team_id_here
BIZNEO_CALENDAR_URL=your_bizneo_calendar_url_here
PUBLIC_HOLIDAYS_CALENDAR_URL=your_public_holidays_ical_url_here
